@use 'theme/variables' as *;

.card {
  width: 100%;

  .submit-error {
    text-align: right;
    margin-top: 8px;
    color: $display_orange;
  }

  .card-sides {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column-reverse;

    .side-left {
      width: 100%;
      padding: 36px 12px 0;
      position: relative;

      .title {
        cursor: pointer;
      }

      .link-holder {
        .button-holder {
          margin: 18px 0;
        }
      }

      .background,
      .decoration {
        display: none;
      }
    }

    .side-right {
      display: none;
      transition: transform 0.4s;
    }
  }

  &.is-submitted {
    .card-sides {
      .side-right {
        // max-height: 0;
        // overflow: hidden;
        // padding: 0px 12px;
        filter: opacity(0.3);
      }
    }
  }
}

// xl
@media only screen and (min-width: $xl) {
  .card {
    height: auto;
    position: relative;
    width: 690px;
    display: block;
    transition: transform 0.4s;
    transform: rotate(0);

    .card-sides {
      width: auto;

      .side-left {
        position: relative;
        padding: 36px;
        z-index: 2;
        width: 276px;

        .link-holder {
          display: block;
          flex-wrap: nowrap;
          margin: 0 auto;
        }

        .background {
          display: block;
          position: absolute;
          inset: 0;
          z-index: -1;
          opacity: 0.867;
          background: $background_darkBlue1;

          .decoration {
            display: block;

            &.bottom-circle-outer {
              position: absolute;
              background: $background_darkBlue1;
              border-radius: 50%;
              height: 40%;
              aspect-ratio: 1 / 1;
              top: 100%;
              left: 0;
              margin: -60% -30%;
              clip-path: polygon(23% 0, 100% 0, 100% 50%, 23% 50%);
            }

            &.bottom-rectangle-outer {
              position: absolute;
              background: $background_darkBlue1;
              height: 12%;
              width: 64%;
              top: 100%;
              left: 0;
              margin: -18% 0;
              border-radius: 2px;
            }

            &.bottom-circle {
              position: absolute;
              background: $background_darkBlue1;
              border-radius: 50%;
              height: 34%;
              aspect-ratio: 1 / 1;
              top: 100%;
              left: 0;
              margin: -50% -30%;
            }

            &.top-rectangle {
              position: absolute;
              background: $background_darkBlue1;
              height: 20%;
              width: 76%;
              top: -4%;
              left: -12%;
              border-radius: 2px;
              clip-path: polygon(10px 0, 100% 0, 200% 200%, 0 100%, 0 10px);
            }
          }
        }
      }

      .side-right {
        display: inline;
        width: 414px;
        padding: 36px;
        background: $background_darkBlue2_a90;
        z-index: 1;
        margin-top: 0px;
        border-radius: 0 32px 32px 0;
      }
    }

    &.rotated {
      transform: rotate(-4deg);
    }

    &.collapsed {
      .card-sides {
        .side-right {
          height: auto;
          transform: translate(-120px, 0);
          pointer-events: none;
        }
      }
    }
  }
}