.slide-personal {
  z-index: 15;
  height: 480px;
  position: relative;

  .slide-personal-side-left {
    height: 100%;
    width: 100%;
    background: #bf0e0d;
  }

  .slide-personal-side-right {
    position: absolute;
    height: 100%;
    width: 94%;
    left: 3%;
    background: #000d;
    top: 140px;
    z-index: 16;
    color: #fff;
    backdrop-filter: blur(20px);

    h1 {
      font-family: 'AmericanCaptain';
      color: #fff;
      text-shadow: 1px 2px 0 #000a;
      font-size: 62px;
      text-align: center;
      margin-top: -8px;

      // &:before {
      //   content: "Hi, I\'m";
      //   font-family: $roboto;
      //   font-size: 14px;
      //   position: absolute;
      //   margin: -24px -60px;
      //   color: #F00;
      // }
    }

    p {
      font-family: "Ubuntu";
      padding: 0px 14px 12px;
      line-height: 22px;
      font-size: 14px;

      a {
        color: #ff2a2b;
        text-decoration: none;
        box-shadow: inset 0px -6px #fff1;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      a:hover {
        box-shadow: inset 0px -10px #fff2;
      }
    }

    p.additional {
      display: none;
    }
  }
}

// md
@media only screen and (min-width: 576px) {
  .slide-personal {
    height: 80%;
    margin-bottom: -80px;

    .slide-personal-side-left {
      position: absolute;
      height: 100%;
      width: 40%;
      background: #f00;

      #personal-photo {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: center;
        filter: grayscale(1);
        opacity: 0.6;
        box-shadow: inset 0 0 100px #0008;
      }
    }

    .slide-personal-side-right {
      position: absolute;
      height: 100%;
      width: 60%;
      left: 40%;
      background: #222;
      top: 0;

      h1 {
        font-size: 50px;
        padding: 36px 36px 6px;
        margin-top: 50px;
      }

      p {
        padding: 14px 48px;
        line-height: 28px;
        font-size: 16px;
        color: #fff;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .slide-personal {
    .slide-personal-side-left {
      width: 64%;
    }

    .slide-personal-side-right {
      width: 36%;
      left: 64%;

      p.additional {
        display: inline;
      }
    }
  }
}
