@use 'theme/variables' as *;

.slide-skills {
  width: 100%;
  z-index: 20;
  position: relative;
  background: $backgroundDark2;

  .slide-body {
    font-family: $ubuntu;
    z-index: 21;
    position: relative;
    margin: 0 auto;

    .title-holder {
      border-right: 2px solid $blackTransparent;
      padding: 12px 0 0;
      width: 80%;

      &:after {
        content: "DIGITAL IN";
        position: absolute;
        left: calc(80% - 24px);
        top: 40px;
        transform: rotate(-90deg);
        font-family: "Ubuntu Mono", monospace;
        color: rgba(31, 207, 204, 0.2);
        font-weight: bold;
      }
    }
  }
}

@media only screen and (min-width: $md) {
  .slide-skills {
    z-index: 0;

    .slide-body {
      width: 540px;
    }
  }
}

@media only screen and (min-width: $lg) {
  .slide-skills {
    .slide-body {
      width: 680px;
    }
  }
}

@media only screen and (min-width: $xl) {
  .slide-skills {
    .slide-body {
      width: 820px;
    }
  }
}