@use 'theme/variables' as *;

.eggMicrographic {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  background-color: $display_cyan_a50;
  backdrop-filter: blur(2px);
  pointer-events: none;

  mask-image: var(--egg-micrographic-src);
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: var(--egg-micrographic-src);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
