@use 'theme/variables' as *;

.header {
  display: flex;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
  width: fit-content;
  max-width: calc(100% - 20px);
  padding: 2px 26px 2px 14px;
  background: #112a3266;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  clip-path: $polygonSmall;
  flex-wrap: wrap;
  justify-content: right;

  .link-holder {
    margin: 8px 16px;
    text-align: center;

    .header-link {
      cursor: pointer;
      color: $accentCyan;
      text-decoration: none;
      box-shadow: inset 0px -6px $accentCyanTransparent2;
      font-family: $ubuntuMono;
      font-size: 0.85em;
      transition: 0.2s;

      &:hover {
        color: $accentCyanHover;
        box-shadow: inset 0px -10px $accentCyanTransparent;
      }

      &.external {
        color: $accentYellow;
        box-shadow: inset 0px -6px $accentYellowTransparent2;
        position: relative;
        padding-right: 14px;

        &:after {
          content: '';
          position: absolute;
          top: 2px;
          right: 0;
          width: 8px;
          height: 8px;
          background: $accentYellowTransparent2;
          border-right: 1px solid $accentYellow;
          border-top: 1px solid $accentYellow;
          transition: 0.2s;
          clip-path: polygon(0 0, 100% 0, 100% 100%);
        }

        &:hover {
          color: $accentYellowHover;
          box-shadow: inset 0px -10px $accentYellowTransparent;

          &:after {
            background: $accentYellowTransparent;
            transform: translate(2px, -2px);
          }
        }
      }
    }
  }
}
