.multipass {
  width: 286px;
  height: 206px;
  background: #555;
  position: absolute;
  clip-path: polygon(-100px -100px, 280px 0, 280px 100%, -100px 306px);
  border-radius: 6px 40px 40px 0;

  .stripes {
    background: repeating-linear-gradient(#555, #555 3px, #444 3px, #444 6px);
    height: 180px;
    width: 60px;
    top: 30px;
    position: absolute;
    left: 20px;
    z-index: 1;
  }

  .bottom-left-circle-grey {
    background: #555;
    border-radius: 50%;
    width: 94px;
    height: 94px;
    position: absolute;
    top: 100%;
    left: 0;
    margin: -80px -40px;
    z-index: 6;
    box-shadow: 2px -1px 0 #0003;
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 23% 100%);
  }

  .bottom-left-circle-yellow {
    background: rgb(215, 215, 65);
    background: radial-gradient(
      circle,
      rgba(215, 215, 65, 1) 10%,
      rgba(250, 250, 102, 1) 100%
    );
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 100%;
    left: 0;
    margin: -66px -36px;
    border: 14px solid #555;
    z-index: 8;
    box-shadow: 2px -1px 0 #0003;
    overflow: hidden;

    .bottom-left-circle-shine {
      width: 50px;
      height: 50px;
      background: #fff4;
      position: absolute;
      top: 16px;
      left: 12px;
      border-radius: 50%;
    }
  }

  .top-square {
    clip-path: polygon(10px 0, 100% 0, 200% 200%, 0 100%, 0 10px);
    position: absolute;
    width: 102px;
    height: 45px;
    background: #555;
    top: -8px;
    left: -14px;
    z-index: 4;
    border-radius: 2px;
    box-shadow: 2px 1px 0 #0003;

    .top-square-bar {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #444;
      top: 16px;
      left: 25px;
      box-shadow: 0px 1px #0003;
    }

    .top-square-bar::after {
      content: "";
      position: absolute;
      width: 69px;
      height: 16px;
      background: #444;
      left: 8px;
      box-shadow: 0px 1px #0003;
    }
  }

  .bottom-square {
    clip-path: polygon(58px 0, 100% 12px, 100% 100%, 0 100%, 0 0);
    background: #555;
    width: 70px;
    height: 63px;
    z-index: 7;
    position: absolute;
    left: 28px;
    bottom: -7px;
    box-shadow: 2px -1px 0 #0003;

    .bottom-square-white {
      background: #fff;
      width: 15px;
      height: 34px;
      top: 16px;
      left: 30px;
      position: absolute;
      box-shadow: 2px -1px 0 #0003;
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }

    .bottom-square-white::after {
      content: "";
      width: 4px;
      height: 36px;
      background: #f00;
      position: absolute;
      left: 26px;
      top: -3px;
      box-shadow: 2px -1px 0 #0003;
    }
  }

  .white-card {
    background: #fff;
    height: 170px;
    width: 232px;
    position: absolute;
    right: 6px;
    top: 18px;
    z-index: 2;
    border-radius: 2px;

    .multipass-title {
      font-family: "Arial Black", "Arial", sans-serif;
      font-weight: bold;
      width: 100%;
      padding: 5px 10px;
      text-align: right;
      font-size: 25px;
      color: #6f46e6;
    }

    .picture {
      height: 90px;
      width: 55px;
      position: absolute;
      top: 32px;
      background: url(files/images/contact/headshot.jpg);
      background-size: 258%;
      background-position: top;

      .number {
        font-family: $ubuntu;
        font-size: 8px;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        padding: 1px 0 0;
      }

      &.picture-left {
        filter: invert(1);
        left: 18px;
        border: 2px solid #ddd;
        .number {
          background: #111;
          color: #ddd;
          border-top: 2px solid #ddd;
        }
      }

      &.picture-right {
        left: 74px;
        border: 2px solid #111;
        .number {
          background: #ddd;
          color: #111;
          border-top: 2px solid #111;
        }
      }
    }

    .bio {
      position: absolute;
      left: 131px;
      top: 32px;
      width: 96px;
      height: 95px;
      font-family: $ubuntu;

      .name {
        font-size: 11px;
        text-transform: uppercase;
        color: #e671c2;
        font-weight: bold;
      }

      .yellow {
        width: 100%;
        background: #ff0c;
        font-size: 6px;
        line-height: 8px;
        padding: 4px;
        color: #e671c2;
        font-weight: bold;
        text-transform: uppercase;
      }

      .address {
        height: 32px;
      }

      .traits {
        font-weight: bold;
        font-size: 6px;
        padding: 3px;
        line-height: 7px;
      }

      .occupation {
        height: 18px;
        bottom: 0;
        position: absolute;
      }
    }

    .blue-bar {
      background: #6f46e6;
      position: absolute;
      bottom: 8px;
      right: 5px;
      height: 32px;
      width: 170px;
    }
  }
}

.multipass.light {
  .bottom-square {
    .bottom-square-white {
      background: #f00;
      box-shadow: 0px 0px 20px #f00;
    }
  }
}
