@use 'theme/variables' as *;

.frame {
  width: 10px;
  height: 10px;
  position: absolute;

  &.topLeft {
    border-top: 1px solid $display_yellow;
    border-left: 1px solid $display_yellow;
    top: 0;
    left: 0;
  }

  &.topRight {
    border-top: 1px solid $display_yellow;
    border-right: 1px solid $display_yellow;
    top: 0;
    right: 0;
  }

  &.bottomLeft {
    border-bottom: 1px solid $display_yellow;
    border-left: 1px solid $display_yellow;
    bottom: 0;
    left: 0;
  }

  &.bottomRight {
    border-bottom: 1px solid $display_yellow;
    border-right: 1px solid $display_yellow;
    bottom: 0;
    right: 0;
  }
}
