@import "../../../elements/variables";

.featured-project {
  width: calc(100% - 8px);
  font-family: $ubuntu;
  height: 220px;
  margin: 20px 0;

  .project-image-frame {
    height: 100%;
    width: 100%;
    position: relative;

    .project-image {
      background: $backgroundLightOpaque;
      clip-path: $polygon;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      box-shadow: inset 0 0 80px #000a;
      -webkit-transition: 0.2s;
      transition: 0.2s;

      img {
        filter: grayscale(0.6) opacity(0.2);
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }
    }
  }

  .info {
    position: relative;
    z-index: 2;
    font-weight: 300;
    width: calc(100% - 8px);
    padding: 14px;
    transform: translate(0px, -100%);

    a {
      color: $accentYellow;
      transition: 0.2s;
      -webkit-transition: 0.2s;

      h2 {
        font-size: 20px;
        padding: 0 14px 10px;
        font-weight: 500;

        span.arrow {
          // TODO: turn this into an SVG
          width: 10px;
          height: 10px;
          border-right: 1px solid $accentYellow;
          border-top: 1px solid $accentYellow;
          position: absolute;
          margin-left: 12px;
          margin-top: 2px;
          transition: 0.2s;
          -webkit-transition: 0.2s;

          &:before {
            content: "";
            width: 14px;
            height: 5px;
            border-top: 1px solid $accentYellow;
            transform: rotate(-45deg);
            position: absolute;
            top: 4px;
            right: -3px;
          }
        }
      }

      &:hover {
        color: $accentYellowHover;
        span.arrow {
          transform: translate(2px, -2px);
        }
      }
    }

    p {
      font-size: 14px;
      color: #fff;
      padding: 0 14px 4px;
      font-weight: 300;
      line-height: 18px;
    }

    .tech-stack-holder {
      display: none;
    }
  }
}

// @media only screen and (min-width: $md) {

@media only screen and (min-width: $lg) {
  .featured-project {
    display: flex;
    width: calc(100% - 8px);
    height: 360px;
    margin: 24px 0;
    transform: translateX(-22px);
    position: relative;

    .project-image-frame {
      min-width: 560px;
      max-width: 560px;

      .project-image {
        width: calc(100% - 20px);
        height: calc(100% - 20px);

        img {
          filter: grayscale(0.6) opacity(0.4);
        }
      }
    }

    .info {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      backdrop-filter: blur(20px);
      background: $backgroundLightOpaque;
      min-height: 140px;
      width: 516px;
      padding: 22px 18px;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
      }

      .tech-stack-holder {
        display: flex;
        flex-wrap: wrap;
        padding: 8px 2px 0;
        display: inline;

        span {
          margin: 0 12px;
          font-size: 12px;
          color: $accentCyan;
        }
      }
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
      transform: translateX(22px);

      .info {
        right: unset;
        left: 0;
      }
    }

    &:hover {
      .project-image-frame {
        .project-image {
          width: calc(100% - 4px);
          height: calc(100% - 4px);

          img {
            filter: grayscale(0.4) opacity(0.6);
          }
        }
      }
    }
  }
}
