@use 'theme/variables' as *;

.container {
  position: absolute;
  height: 100%;
  width: 100%;

  .header {
    display: none;
  }

  .slides {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
  }
}

@media only screen and (min-width: $md) {
  .container {
    .slides {
      top: 300%;
    }
  }
}

// desktop only: header stays hidden on mobile and tablet
@media only screen and (min-width: $xl) {
  .container {
    .header {
      display: flex;
    }
  }
}
