.blueprint {
  // background: radial-gradient(#fff5 1px, transparent 0), #1a0f6b;
  // background-size: 24px 24px;
  box-shadow: inset 0 0 100px #0008, -2px -2px 8px #0004;
  background: #2e7bcf url(../../../../static/img/bg/blueprint.jpg) 0 0 repeat;
  background-position: 24px 24px;
}

.slide-projects-decoration {
  width: 100%;
  display: block;
  position: absolute;
  z-index: 30;
  height: 100px;
  font-family: 'AmericanCaptain';
  font-size: 26px;
  padding: 20px;
  color: #fff9;
  border: 1px solid #fff2;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;

  &.decoration-1 {
    transform: rotate(12deg);
    margin-top: -20px;
    margin-left: 20px;
    &:hover {
      transform: rotate(14deg) translateY(-30px);
    }
  }
  
  &.decoration-2 {
    transform: rotate(6deg);
    margin-top: -20px;
    &:hover {
      transform: rotate(7deg) translateY(-30px);
    }
  }


  &.hidden {
    transform: rotate(-2deg) translateY(42px) !important;
  }
}



@media only screen and (min-width: $lg) {
  .slide-projects-decoration {
    &.decoration-1 {
      transform: rotate(6deg);
      margin-top: -36px;
      margin-left: 20px;
      &:hover {
        transform: rotate(8deg);
      }
    }

    &.decoration-2 {
      transform: rotate(3deg);
      margin-top: -20px;
      &:hover {
        transform: rotate(5deg);
      }
    }
  }
}