@import "../../../elements/variables";

.org {
  color: #fff;
  margin-bottom: 14px;

  .org-left {
    display: flex;
    flex-wrap: wrap;

    .avatar-holder {
      padding: 0 6px;
    }

    .org-info-holder {
      padding-left: 6px;
    
      .name {
        font-size: 18px;
        padding: 8px 0 4px;
        color: $accentCyan;
      }
      .location {
        font-size: 14px;
        padding: 0 2px 4px;
      }
      .time {
        color: $accentYellow;
        font-size: 10px;
        padding: 0 2px;
        font-weight: 300;
      }
    }
    
  }

  .org-right {
    .position {
      padding: 8px 0;
    }
    p.description {
      font-size: 12px;
      padding: 4px;
      line-height: 14px;
    }
  }
}

@media only screen and (min-width: 576px) {
  .org {
    display: flex;
    .org-left {
      min-width: 320px;
    }
    .org-right {
      width: calc(100% - 320px);
      display: grid;

      p.description {
        display: inline;
        padding: 4px 0;
        line-height: 18px;
      }
    }
  }
}
