@import "../../../elements/variables";

.org {
  color: #fff;
  margin-bottom: 36px;

  .org-left {
    display: flex;
    flex-wrap: wrap;

    .avatar-holder {
      padding: 0 6px;
    }

    .org-info-holder {
      padding-left: 6px;
    
      .name {
        font-size: 18px;
        padding: 2px 0 4px;
        color: $accentCyan;
      }
      .location {
        font-size: 14px;
        padding: 0 2px 4px;
      }
      .time {
        color: $accentYellow;
        font-size: 10px;
        padding: 0 2px;
        font-weight: 300;
      }
    }
    
  }

  .org-right {
    padding: 14px;
    .position {
      padding: 8px 0;
      color: $accentYellow;
    }
  }
}

@media only screen and (min-width: $md) {
  .org {
    display: flex;
    background: #143443;
    padding: 14px 10px;
    clip-path: $polygon;

    .org-left {
      min-width: 320px;
    }
    .org-right {
      width: calc(100% - 320px);
      display: grid;
      padding: 0 14px;
    }
  }
}
