@import "../variables";

.avatar-holder {
  position: relative;
  min-width: 58px;
  width: 58px;
  height: 58px;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;

  .avatar-image-holder {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 5px;
    overflow: hidden;
    filter: grayscale(0.6) opacity(0.6);
    transition: filter 0.2s;
    -webkit-transition: filter 0.2s;

    .avatar-image {
      width: 68%;
      margin: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .avatar-back {
    content: "";
    background: $accentCyan;
    position: absolute;
    min-width: 48px;
    width: 48px;
    height: 48px;
    top: 5px;
    left: 5px;
    z-index: -1;
  }

  &:after {
    content: "";
    border: 1px solid $accentCyan;
    clip-path: $polygon;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  &.reveal {
    .avatar-image-holder {
      filter: grayscale(0.3) opacity(0.7);
    }
    &:after {
      width: 56px;
      height: 56px;
    }
  }

  &:hover {
    .avatar-image-holder {
      filter: grayscale(0.2) opacity(0.9);
    }
  }
}
