@import "src/theme/variables";

// 20% open wide
// 60% open down
// 100% set normal

@keyframes content-open {
  20% {
    width: 100%;
    max-height: 0;
    padding: 0 0 0;
    border-bottom: 1px solid #0000;
  }
  21% {
    padding: 20px 0 0;
    border-bottom: 1px solid $accentCyan;
  }
  60% {
    border-top: 1px solid $accentCyan;
    border-bottom: 1px solid $accentCyan;
    padding: 20px 0 0;
  }
  100% {
    width: 100%;
    max-height: 800px; // this might need to be increased, just estimate how high and then add some
    padding: 0 0 0;
    border-top: 1px solid #0000;
    border-bottom: 1px solid #0000;
  }
}

@keyframes button-open {
  20% {
    filter: opacity(0);
    margin: 24px auto;
  }
  60% {
    margin: 24px auto;
  }
  100% {
    filter: opacity(0);
    height: 0;
    margin: 0;
  }
}

.show-more {
  .content-holder {
    width: 0;
    max-height: 0;
    border-top: 1px solid $accentCyan;
    border-bottom: 1px solid #000;
    height: auto;
    margin: 0 50%;
    overflow: hidden;
    transform: translate(-50%, 0);
    transition: 0.4s;
  }

  .button-holder {
    width: 240px;
    margin: 24px auto;
    transition: 0.2s;
    -webkit-transition: 0.2s;
  }

  &.open {
    .content-holder {
      animation: content-open 1.2s forwards;
    }

    .button-holder {
      animation: button-open 1.2s forwards;
      pointer-events: none;
    }
  }
}
