@import "../../../../elements/variables";

.card {
  width: 100%;

  .card-sides {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column-reverse;

    .side-left {
      width: 100%;
      padding: 36px 12px 0;

      .link-holder {
        .button-holder {
          margin: 18px 0;
        }
      }
    }

    .side-right {
      width: 100%;
      padding: 0 12px 36px;
    }
  }
}


// xl
@media only screen and (min-width: $xl) {
  .card {
    height: auto;
    top: 50%;
    left: 50%;
    margin-left: -345px;
    transform: translate(0, -50%);
    position: relative;
    width: 690px;
    display: inline-block;
    // clip-path: $polygon;
    transition: transform 0.2s;

    .card-sides {
      width: auto;

      .side-left {
        width: 40%;
        padding: 36px;
        z-index: 2;
        background: $backgroundDarkOpaque;
        width: 275px;

        .link-holder {
          display: block;
          flex-wrap: nowrap;
          margin: 0 auto;
        }
      }

      .side-right {
        width: 415px;
        padding: 36px;
        background: $backgroundDark2Opaque;
        // clip-path: $polygon;
        transition: transform 0.2s;
      }
    }

    &.is-submitted {
      transform: translate(60px, -50%);

      .card-sides {
        .side-right {
          filter: opacity(0.4);
          transform: translate(-120px, 0);
          z-index: 1;
          pointer-events: none;
        }
      }
    }
  }
}