@import "../../../../elements/variables";

.card {
  width: 100%;

  .card-sides {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column-reverse;

    .side-left {
      width: 100%;
      padding: 36px 12px 0;

      .link-holder {
        .button-holder {
          margin: 18px 0;
        }
      }
    }

    .side-right {
      width: 100%;
      padding: 0 12px 36px;
    }
  }
}


// xl
@media only screen and (min-width: $xl) {
  .card {
    width: 60%;
    margin: 0 auto;
    height: auto;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    position: relative;
    background: $backgroundDarkOpaque;
    clip-path: $polygon;
    max-width: $lg;

    .card-sides {
      .side-left {
        width: 50%;
        padding: 36px;

        .link-holder {
          display: block;
          flex-wrap: nowrap;
          margin: 0 auto;
        }
      }

      .side-right {
        width: 50%;
        padding: 36px;
        background: $backgroundDark2Opaque;
        clip-path: $polygon;
      }
    }


  }

}