@use 'theme/variables' as *;

.bullet-point {
  transition: opacity 0.4s;
}

.hidden {
  opacity: 0;
}

.revealed {
  opacity: 1;
}

.org {
  position: relative;
  color: #fff;
  margin-bottom: 24px;

  .org-left {
    display: flex;
    flex-wrap: wrap;

    .avatar-holder {
      padding: 0 6px;
      cursor: pointer;
    }

    .org-info-holder {
      padding-left: 6px;

      .name {
        padding: 0 0 4px;
        color: $display_cyan;
      }

      .location {
        padding: 2px 2px 4px;
      }

      .time {
        padding: 2px 2px;
      }
    }
  }

  .org-right {
    padding: 14px;
  }

  .org-extra {
    display: none;
  }
}

@media only screen and (min-width: $lg) {
  .org {
    display: flex;
    background: $display_black_a30;
    padding: 24px;
    border-radius: 32px;
    clip-path: polygon(0 0, calc(100% - 48px) 0, 100% 48px, 100% 100%, 0 100%);
    flex-wrap: wrap;

    .org-left {
      min-width: 320px;
    }

    .org-right {
      width: calc(100% - 320px);
      display: grid;
      padding: 0 14px;

      .position {
        padding: 0 0 4px;
      }
    }

    .org-extra {
      width: 100%;
      display: flex;

      .name {
        font-size: 18px;
        padding: 2px 0;
        color: $display_yellow;
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
}
