@use 'theme/variables' as *;

.punch-card {
  display: none;
  position: absolute;
  inset: 0;
  z-index: -1;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  overflow: hidden;
  pointer-events: none;
}

@media only screen and (min-width: $md) {
  .punch-card {
    display: flex;
  }
}

.punch-row {
  font-family: monospace;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  color: $background_teal_a30;
  opacity: 0.85;
  transition: opacity 0.5s;

  .punch {
    filter: brightness(38%);
    transition: filter 1.8s;
  }

  &.complete {
    opacity: 0.4;

    .punch {
      filter: brightness(100%);
    }
  }
}