@use 'theme/variables' as *;

.switchRoot {
  display: flex;
  gap: 2px;
  background: $display_cyan_a20;
  clip-path: $polygonSmall;
}

.option {
  flex: 1;
  padding: 10px 12px;
  background: $background_darkBlue1;
  border: none;
  cursor: pointer;
  color: $display_white_a50;
  font-family: $ubuntuMono;
  font-size: 13px;
  text-transform: uppercase;
  transition:
    color 0.2s,
    background 0.2s;

  &:hover,
  &:focus {
    color: $display_white;
    outline: none;
  }
}

.active {
  color: $display_cyan;
  background: $display_cyan_a20;
}
