@use 'theme/variables' as *;

.body {
  padding: 14px 14px;
}

// mobile shows only the first paragraph
.paragraph-tablet,
.paragraph-desktop {
  display: none;
}

@media only screen and (min-width: $md) {
  .body {
    padding: 50px 24px;
  }

  // tablet adds the second paragraph
  .paragraph-tablet {
    display: block;
  }
}

@media only screen and (min-width: $xl) {
  // desktop shows the rest
  .paragraph-desktop {
    display: block;
  }
}
