
@import '../../elements/variables';

.slide-experience {
  width: 100%;
  z-index: 20;
  position: relative;
  background: $backgroundDark2;
  padding: 0 0 120px;

  &:before {
    content: "";
    width: 120%;
    background: $backgroundDark2;
    height: 100px;
    position: absolute;
    left: -10%;
    border-radius: 50%;
    margin-top: -30px;
    box-shadow: 0 -4px #0002;
  }

  .slide-body {
    font-family: "Ubuntu";
    z-index: 21;
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
  }
}

@media only screen and (min-width: 576px) {
  .slide-experience {
    background: $backgroundDark2;
    // background: radial-gradient(circle, $backgroundDark2 54%, #121e25 100%) !important;
    z-index: 0;
    padding: 68px 0;

    &:before {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .slide-experience {
    .slide-body {
      width: 680px;
    }
  }
}
