@use 'theme/variables' as *;

.slide-personal {
  z-index: 15;
  position: relative;
  margin-bottom: -28px;

  .slide-personal-side-left {
    position: relative;
    height: 340px;
    width: 100%;
    background: $background_teal;
  }

  .slide-personal-side-right {
    position: relative;
    margin-top: -134px;
    width: 94%;
    left: 3%;
    background: $background_darkBlue1_a90;
    z-index: 16;
    color: #fff;
    backdrop-filter: blur(20px);
  }
}

// md
@media only screen and (min-width: $md) {
  .slide-personal {
    display: flex;
    align-items: stretch;
    background: #000;
    min-height: 680px;

    .slide-personal-side-left {
      height: auto;
      margin-top: 0;
      flex: 0 0 40vw;
      width: 40vw;
      background: $display_cyan;
      background: repeating-linear-gradient(
        $display_cyan,
        $display_cyan 3px,
        $accent_cyan 3px,
        $accent_cyan 6px
      );
    }

    .slide-personal-side-right {
      margin-top: 0;
      left: 0;
      flex: 1 1 60vw;
      width: 60vw;
      min-width: 0;
      background: $background_darkBlue1_a90;
    }
  }
}

@media only screen and (min-width: $lg) {
  .slide-personal {
    .slide-personal-side-left {
      flex-basis: 64vw;
      width: 64vw;
    }

    .slide-personal-side-right {
      flex-basis: 36vw;
      width: 36vw;
    }
  }
}
