@use 'theme/variables' as *;

.tooltip {
  position: relative;
  display: inline-block;

  .connector {
    display: none;
    pointer-events: none;
    z-index: 10;

    @media only screen and (min-width: $md) {
      display: block;
      position: absolute;
      left: calc(100% + 4px);
      bottom: 2px;
      width: 80px;
      height: 20px;
      color: $display_yellow;
      filter: drop-shadow(0 0 3px $background_darkBlue1);
      clip-path: inset(0 100% 0 0);
      transition: clip-path 220ms ease;

      &.visible {
        clip-path: inset(0 0 0 0);
      }
    }
  }

  .tooltipBox {
    position: absolute;
    left: calc(100% + 4px);
    bottom: 12.5px;
    transform: translateY(50%);
    width: max-content;
    max-width: 260px;
    display: none;
    pointer-events: none;
    z-index: 10;

    @media only screen and (min-width: $md) {
      left: calc(100% + 88px);
    }

    &.visible {
      display: block;
    }
  }

  .tooltipInner {
    display: inline-block;
    padding: 0.6em 0.8em;
    background-color: $background_darkBlue2_a90;
    backdrop-filter: blur(48px);
    -webkit-backdrop-filter: blur(48px);
    clip-path: $polygonSmall;
    color: #fff;
    font-size: 0.85em;
    line-height: 1.4em;
    text-align: left;
    box-shadow: -2px -2px 8px #0004;
    border-left: 6px solid $background_teal;
  }
}