
@import '../variables';

.bar {
  padding: 6px 24px;
  position: relative;
  overflow: hidden;
  background: $blackOpaque;
  background: linear-gradient(
    90deg,
    $blackOpaque 0%,
    $blackOpaque 50%,
    $backgroundLightOpaque 50%,
    $backgroundLightOpaque 100%
  );
  background-position: 0 0;
  background-size: 200%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  clip-path: $polygon;
  transition: 0.4s;
  -webkit-transition: 0.4s;

  .name {
    color: #fff;
    z-index: 25;
    position: relative;

    .line {
      background: $accentYellow;
      height: 1px;
      top: 50%;
      position: absolute;
      margin-left: 6px;
    }
  }

  .loader {
    position: absolute;
    background: $accentCyan;
    background: linear-gradient(
      90deg,
      $backgroundLight 0%,
      $backgroundLight 50%,
      $accentCyanHover 50%,
      $accentCyanHover 100%
    );
    background-position: 0 0;
    height: 100%;
    background-size: 200%;
    top: 0;
    left: 0;
    clip-path: $polygon;
    transition: 0.4s;
    -webkit-transition: 0.4s;
  }

  &:hover {
    background-position: 100% 0;
    .name {
      color: $accentYellowHover;
    }
    .loader {
      background-position: -100% 0;
    }
  }
}