@import "../variables";

.text-accent {
  color: $accentYellow;
  font-family: $ubuntu;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 10px;
}

.text-heading {
  font-family: "AmericanCaptain";
  color: #fff;
  text-shadow: 1px 2px 0 #000a;
  font-size: 34px;
  text-align: left;
}

.text-sub-heading {
  color: #fff;
  font-family: $ubuntu;
  font-size: 18px;
  padding: 24px 0 10px;
  margin-bottom: 6px;

  .line {
    width: 32%;
    background: $accentCyan;
    height: 1px;
    position: absolute;
    margin: 15px 0 0 20px;
  }
}

.text-sub-heading-2 {
  color: #fff;
  font-family: $ubuntu;
  font-size: 16px;
  padding: 18px 0 10px;
}

.text-flag {
  color: #fff;
  font-family: $ubuntu;
  font-size: 12px;
  padding: 4px 6px;
  width: 108px;
  background: #cc471c;
  font-weight: bold;
  text-transform: uppercase;
  margin: 18px 3px 4px;
}

.text {
  font-family: $ubuntu;
  padding-bottom: 12px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  font-weight: 300;

  a,
  .text-inline-link {
    color: $accentYellow;
    text-decoration: none;
    box-shadow: inset 0px -6px #fff1;
    -webkit-transition: 0.2s;
    transition: 0.2s;

    &:hover {
      box-shadow: inset 0px -10px #fff2;
    }
  }
}

.text-page-center {
  height: 120px;
  margin-top: -60px;
  top: 50%;
  position: relative;
  text-align: center;
  width: 100%;
  text-shadow: 0px 3px 8px #0009;

  .text-headline {
    font-family: "AmericanCaptain";
    font-size: 66px;
    padding: 0 20px;
    color: #fff;
  }

  .text-blurb {
    font-family: $ubuntu;
    font-size: 18px;
    margin-top: -8px;
    color: $accentYellow;
  }
}

a.text-linked-header-link {
  color: $accentYellow;
  transition: 0.2s;
  -webkit-transition: 0.2s;

  .text-linked-header {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 10px;
  }

  &:hover {
    color: $accentYellowHover;

    span.arrow {
      transform: translate(2px, -2px);
    }
  }

  span.arrow {
    width: 10px;
    height: 10px;
    border-right: 1px solid $accentYellow;
    border-top: 1px solid $accentYellow;
    position: absolute;
    margin-left: 12px;
    margin-top: 2px;
    transition: 0.2s;
    -webkit-transition: 0.2s;

    &.cyan {
      border-right: 1px solid $accentCyan;
      border-top: 1px solid $accentCyan;

      &:before {
        border-top: 1px solid $accentCyan;
      }
    }

    &:before {
      content: "";
      width: 14px;
      height: 5px;
      border-top: 1px solid $accentYellow;
      transform: rotate(-45deg);
      position: absolute;
      top: 4px;
      right: -3px;
    }
  }
}

@media only screen and (min-width: $md) {
  .text-heading {
    font-size: 46px;
  }

  .text-page-center {
    .text-headline {
      font-size: 80px;
    }
  }
}
