@import "src/theme/variables";

// Tags

.text-tag {
  font-size: 12px;
  color: $accentCyan;
}

// Function Paragraph Spans

p {
  .text-inline-link {
    color: $accentYellow;
    text-decoration: none;
    box-shadow: inset 0px -6px $accentYellowOpaque2;
    transition: 0.2s;

    .clickable {
      cursor: pointer;
    }

    &:hover {
      color: $accentYellowHover;
      box-shadow: inset 0px -10px $accentYellowOpaque;
    }
  }
}

// Text Linked Header
// override for cyan color

a {
  h2.text-linked-header {
    &.cyan {
      color: $accentCyan;

      &:after {
        border-right: 1px solid $accentCyan;
        border-top: 1px solid $accentCyan;
      }
    }
  }
}

// Splash Screen

.text-page-center {
  height: 120px;
  margin-top: -60px;
  top: 50%;
  position: relative;
  text-align: center;
  width: 100%;
  text-shadow: 0px 3px 8px #0009;

  .text-headline {
    font-family: "AmericanCaptain";
    font-size: 66px;
    padding: 0 20px;
    color: #fff;
  }

  .text-blurb {
    font-family: $ubuntu;
    font-size: 18px;
    margin-top: -8px;
    color: $accentYellow;
  }
}

@media only screen and (min-width: $md) {
  .text-page-center {
    .text-headline {
      font-size: 80px;
    }
  }
}