@use 'theme/variables' as *;

// Mono

.mono {
  font-family: $ubuntuMono;
}

// Tags

.text-tag {
  font-size: 12px;
  color: $accentCyan;
}

// Function Paragraph Spans

p {
  .text-inline-link {
    color: $accentYellow;
    text-decoration: none;
    box-shadow: inset 0px -6px $accentYellowTransparent2;
    transition: 0.2s;

    .clickable {
      cursor: pointer;
    }

    &:hover {
      color: $accentYellowHover;
      box-shadow: inset 0px -10px $accentYellowTransparent;
    }
  }
}

// Text Linked Header
// override for cyan color

a {
  h2.text-linked-header {
    &.cyan {
      color: $accentCyan;

      &:after {
        border-right: 1px solid $accentCyan;
        border-top: 1px solid $accentCyan;
      }
    }
  }
}
