@use 'theme/variables' as *;

// Mono

.mono {
  font-family: $ubuntuMono;
}

// Tags

.text-tag {
  font-size: 12px;
  color: $accentCyan;
}

// Function Paragraph Spans

p {
  .text-inline-link {
    color: $accentCyan;
    text-decoration: none;
    box-shadow: inset 0px -6px $accentCyanTransparent2;
    transition: 0.2s;

    &.clickable {
      cursor: pointer;
    }

    &:hover {
      color: $accentCyanHover;
      box-shadow: inset 0px -10px $accentCyanTransparent;
    }

    &.external {
      color: $accentYellow;
      box-shadow: inset 0px -6px $accentYellowTransparent2;
      position: relative;
      padding-right: 14px;

      &:after {
        content: '';
        position: absolute;
        top: 2px;
        right: 0;
        width: 8px;
        height: 8px;
        background: $accentYellowTransparent2;
        border-right: 1px solid $accentYellow;
        border-top: 1px solid $accentYellow;
        transition: 0.2s;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
      }

      &:hover {
        color: $accentYellowHover;
        box-shadow: inset 0px -10px $accentYellowTransparent;

        &:after {
          background: $accentYellowTransparent;
          transform: translate(2px, -2px);
        }
      }
    }
  }
}

// Text Linked Header
// override for cyan color

a {
  h2.text-linked-header {
    &.cyan {
      color: $accentCyan;

      &:after {
        border-right: 1px solid $accentCyan;
        border-top: 1px solid $accentCyan;
      }
    }
  }
}
