@import "src/theme/variables";

.post-content {
  margin: 0 auto;
  width: 100%;
  max-width: 780px;
  padding: 64px 12px 48px;

  .frontmatter-link-holder {
    display: flex;
    padding: 12px 0 24px;

    .button {
      margin-right: 12px;
    }
  }

  img {
    max-width: 100%;
    max-height: 400px;
    border: 1px solid $backgroundLightOpaque;
    margin-left: 50%;
    transform: translateX(-50%);
    color: $accentCyan;
    text-align: center;
  }
}