@use 'theme/variables' as *;

.slide-contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background: $backgroundDark2;

  .slide-back {
    display: none;
  }

  .wave-cyan {
    margin-left: 4px;
  }
}

@media only screen and (min-width: $md) {
  .slide-contact {
    .slide-back {
      display: block;
      box-shadow:
        inset 0 0 100px #0008,
        -2px -2px 8px #0004;
      border-top: 1px solid $backgroundLightTransparent;
      width: 100%;
      height: 120px;
      background: $backgroundDark;
      position: relative;
      overflow: hidden;
    }
  }
}

// xl
@media only screen and (min-width: $xl) {
  .slide-contact {
    display: block;
    position: relative;
    background: none;

    .slide-front {
      z-index: 2;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px;
    }

    .slide-back {
      width: 100%;
      height: auto;
      background: $backgroundDark2Transparent;
      border-top: none;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}
