@use 'theme/variables' as *;

.form-content {
  .form {
    .label-holder {
      margin-bottom: -12px;
    }

    .form-field {
      background: $background_darkBlue1_a90;
      outline: none;
      border: 1px solid #fff0;
      width: 100%;
      margin: 6px 0;
      padding: 12px;
      color: #fff;
      font-family: $ubuntu;
      font-size: 16px;
      font-weight: 300;
      border-radius: 0px;
      // clip-path: $polygonSmall;

      &::placeholder {
        color: $display_white_a50;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $display_white_a50;
      }

      &::-ms-input-placeholder {
        color: $display_white_a50;
      }

      &::selection {
        background: $accent_yellow;
        color: $background_darkBlue1;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        border: 1px solid $display_cyan;
        -webkit-text-fill-color: $display_white;
        -webkit-box-shadow: 0 0 0px 1000px $background_darkBlue1_a90 inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      &.error {
        border: 1px solid $display_orange;
        color: $display_orange;
        background: $display_orange_a30;
      }
    }

    textarea {
      resize: none;
    }

    .submit-holder {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      margin-top: 12px;
    }

    .error-holder {
      min-height: 28px;
      margin-top: -6px;
    }

    &.is-loading {
      filter: opacity(0.8);
      pointer-events: none;
    }
  }
}
