
@import '../variables';

.labeled-button {
  position: relative;
  width: 192px;
  font-family: $ubuntu;
  display: flex;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid $accentCyan;
    clip-path: $polygon;
  }

  a {
    z-index: 2;
    position: relative;
    color: #fff;
    height: 100%;
    width: 100%;
    background: $backgroundLight;
    clip-path: $polygon;
    padding: 8px 24px;
    display: flex;
    flex-wrap: wrap;
    -webkit-transition: 0.2s;
    transition: 0.2s;

    .svg-holder {
      width: 36px;
      height: 100%;
      padding: 4px;
      
      svg {
        width: 20px;
        height: 20px;
  
        path {
          fill: $accentYellow;
          -webkit-transition: 0.2s;
          transition: 0.2s;
        }
      }

    }

    .name {
      width: calc(100% - 36px);
      text-align: center;
      border-left: 1px solid $accentCyan;
      text-decoration: none;
      font-weight: 300;
      font-size: 16px;
      padding: 6px;
    }
  }

  &:hover {
    &:after {
      width: calc(100% + 8px);
      height: calc(100% + 8px);
    }
    a {
      background: $backgroundLightHover;
      svg {
        path {
          fill: $accentYellowHover;
        }
      }
      .name {
        color: #e4f03c;
      }
    }
  }
}
