@import "./reset.scss";
@import "./variables";

@font-face {
  font-family: AmericanCaptain;
  src: url("//font/AmericanCaptain-MdEY.otf");
}

::selection {
  color: $backgroundDark2;
  background: $accentYellow;
}

html {
  width: 100%;
  height: 100%;

  body {
    position: relative;
    height: 100%;
    font-family: $ubuntu;
    font-weight: 300;
    background: $backgroundDark;
  }
}

// TextTitle
h1 {
  font-family: "AmericanCaptain";
  color: #fff;
  text-shadow: 1px 2px 0 #000a;
  font-size: 3em;
  text-align: left;
}

// TextSection _________
h2 {
  color: #fff;
  font-family: $ubuntu;
  font-size: 1.4em;
  padding: 1em 0 0.4em;
  margin-bottom: 6px;

  &:after {
    content: '';
    width: 32%;
    background: $accentCyan;
    height: 1px;
    position: absolute;
    margin: 15px 0 0 20px;
  }
}

// TextHeading
h3 {
  color: $accentYellow;
  font-family: $ubuntu;
  font-size: 1.2em;
  padding: 1em 0 0.4em;

  a {
    &:after {
      content: '';
      position: absolute;
      margin-left: 6px;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      background: $accentYellowOpaque2;
      border-right: 1px solid $accentYellow;
      border-top: 1px solid $accentYellow;
      transition: 0.2s;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
    }

    &:hover {
      &:after {
        background: $accentYellowOpaque;
        transform: translate(2px, -2px);
      }
    }
  }
}

// TextSubHeading
h4 {
  color: $accentCyan;
  font-family: $ubuntu;
  font-size: 1em;
  padding: 0.6em 0;
}

// TextAccent
h5 {
  color: $accentYellow;
  font-family: $ubuntu;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 1em 0;
}

// Text
p {
  font-family: $ubuntu;
  padding: 0.4em 0 0.8em;
  line-height: 1.6em;
  font-size: 1em;
  color: #fff;
  font-weight: 300;

  code {
    padding: 0.2em 0.6em;
    border-radius: 3px;
    background: $backgroundLightOpaque2;
    font-size: 1.2em;
  }
}

// Code
code {
  color: $accentYellowHover;
  font-family: monospace;
}

// Links
a {
  text-decoration: none;
  color: $accentYellow;
  box-shadow: inset 0px -6px $accentYellowOpaque2;
  transition: 0.2s;

  &:hover {
    color: $accentYellowHover;
    box-shadow: inset 0px -10px $accentYellowOpaque;
  }
}

// Lists
ul,
ol {
  padding: 0.2em 0 0.2em 2em;

  li {
    color: $white;
    padding: 0.3em 0;
    line-height: 1.2em;

    ul,
    ol {
      padding: 0.2em 0 0 2em;
    }
  }
}

// Unordered list dash
ul li:before {
  content: '—'; // &#8212;
  position: absolute;
  margin-left: -1.6em;
  margin-top: -2px;
  color: $accentCyan;
}

// Numbered list counter
ol {
  list-style: none;
  counter-reset: customCounter;

  li {
    counter-increment: customCounter;

    &::before {
      content: counter(customCounter) ". ";
      position: absolute;
      margin-left: -1.6em;
      margin-top: -2px;
      color: $accentCyan;
    }
  }
}

pre {
  margin: 0.8em 0;
  padding: 1em;
  overflow: auto;
  max-height: 780px;
  font-size: 1.1em;
  border: 1px solid $backgroundLightOpaque2;
  box-shadow: inset 0 0 100px #0008, -2px -2px 8px #0004;
  background: $backgroundDark;
  background-image: radial-gradient($backgroundLightOpaque 1px, transparent 0);
  background-size: 20px 20px;
  transition: background-position 0.2s;
}

// Blockquote
blockquote {
  margin: 1em 2em;
  padding: 2em;
  clip-path: $polygon;
  background: $backgroundLightOpaque2;
  text-align: center;

  p {
    padding: 0;
    color: $accentYellow;
    font-size: 1.6em;
    font-style: italic;

    &:before,
    &:after {
      content: '"';
      position: absolute;
      margin-top: 0.1em;
      color: $backgroundLight;
      font-size: 2em;
      font-style: normal;
    }

    &:before {
      margin-left: -0.4em;
    }
  }

}

// Bar
hr {
  width: 100%;
  border-top: 1px solid $accentCyan;
  height: 1px;
  border-bottom: none;
}

@media only screen and (min-width: $md) {
  h1 {
    font-size: 4em;
  }
}