@use 'theme/variables' as *;

.header {
  display: flex;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
  width: fit-content;
  max-width: calc(100% - 20px);
  padding: 2px 26px 2px 14px;
  background: $background_darkBlue1_a40;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  clip-path: $polygonSmall;
  flex-wrap: wrap;
  justify-content: right;

  .link-holder {
    margin: 8px 16px;
    text-align: center;

    .header-link {
      cursor: pointer;
      color: $display_cyan;
      text-decoration: none;
      box-shadow: inset 0px -6px $display_cyan_a20;
      font-family: $ubuntuMono;
      font-size: 0.85em;
      transition: 0.2s;

      &:hover {
        color: $accent_cyan;
        box-shadow: inset 0px -10px $display_cyan_a50;
      }

      &.external {
        color: $display_yellow;
        box-shadow: inset 0px -6px $display_yellow_a20;

        &:after {
          content: '';
          position: absolute;
          margin-left: -3px;
          margin-top: 0px;
          width: 8px;
          height: 8px;
          background: $display_yellow_a20;
          border-right: 1px solid $display_yellow;
          border-top: 1px solid $display_yellow;
          transition: 0.2s;
          clip-path: polygon(0 0, 100% 0, 100% 100%);
        }

        &:hover {
          color: $accent_yellow;
          box-shadow: inset 0px -10px $display_yellow_a50;

          &:after {
            background: $display_yellow_a50;
            transform: translate(2px, -2px);
          }
        }
      }
    }
  }
}
