@import "src/theme/variables";



.title-container {
  z-index: 1;
  top: 32% !important;
}

.button-holder {
  visibility: hidden;
  z-index: 2;
}


// md
@media only screen and (min-width: $md) {


  .title-container {
    top: 50% !important;
  }

  .button-holder {
    visibility: visible;
    width: 280px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    bottom: 40px;
  }


}