@use 'theme/variables' as *;

.title-wrap {
  position: relative;
  z-index: 1;
  top: 50%;
}

.title-container {
  top: 32% !important;
  font-family: $ubuntuMono;
}

.button-holder {
  visibility: hidden;
  z-index: 2;
}

// md
@media only screen and (min-width: $md) {
  .title-container {
    top: 50% !important;
  }

  .button-holder {
    visibility: visible;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 24px;
    bottom: 40px;
  }

  .side {
    flex: 1 1 0;
    display: flex;
  }
}
