
@import '../../elements/variables';

.slide-contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  .slide-left {
    background: #fff;
    min-width: 100%;

    .link-holder {
      width: 220px;
      margin: 0 auto;

      a {
        display: flex;
        left: 50%;
        margin: 20px 0 20px -110px;
        width: 220px;
      }
    }
  }

  .slide-right {
    background: #ddd;
    height: 180px;
    min-width: 100%;
    position: relative;

    // TODO: could this be the golden record, no image just subtle
    // and maybe make the gold record a little orange colored
    .multipass-holder {
      width: 220px;
      height: 220px;
      background: #f79348;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -110px;
      z-index: 42;
    }
  }

  .cover {
    background-image: url(../../../static/img/bg/alien-black.png);
    background-size: 140%;
    width: 100%;
    height: 180px;
    position: absolute;
    z-index: 41;
    opacity: 0.15;
    bottom: 0;
  }
}

// lg
@media only screen and (min-width: 768px) {
  .slide-contact {
    height: 640px;

    .slide-left {
      min-width: 50%;
      height: 100%;
      background: $backgroundDark;
    }

    .slide-right {
      min-width: 50%;
      height: 100%;
      background: radial-gradient(circle at center, #ddda 240px, #dddc 240px);
      .multipass-holder {
        width: 320px;
        height: 320px;
        margin: -160px;
      }
    }

    .cover {
      height: 140px;
      bottom: 0;
      background-size: 50%;
    }
  }
}
