
@import '../../elements/variables';

.slide-contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: auto;

  .slide-left {
    background: $backgroundDark2;
    width: 100%;

    .container {
      width: 100%;
      padding: 36px 12px;
      margin: 0 auto;

      .button-holder {
        margin: 18px 0;
      }
    }
  }

  .slide-right {
    box-shadow: inset 0 0 100px #0008, -2px -2px 8px #0004;
    border-top: 1px solid $backgroundLightOpaque;
    width: 100%;
    height: 120px;
    background: $backgroundDark;
    position: relative;
    overflow: hidden;
  }
}

// lg
@media only screen and (min-width: $lg) {
  .slide-contact {
    height: auto;

    .slide-left {
      width: 480px;
      background: $backgroundDark2;

      .container {
        width: 60%;

        .link-holder {
          display: inline;
          flex-wrap: nowrap;
        }
      }
    }

    .slide-right {
      width: calc(100% - 480px);
      height: auto;
      background: $backgroundDarkOpaque;
      border-top: none;
      border-left: 1px solid $backgroundLightOpaque;
    }
  }
}
