@import "src/theme/variables";

.blog-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 64px 12px 48px;
  display: flex;
  flex-wrap: wrap;

  .blog-list-item-holder {
    padding: 0.5em 1em;
    width: 100%;

    .blog-list-item {
      background: $backgroundLightOpaque;
      clip-path: $polygon;
      padding-bottom: 24px;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.02) translateY(-5px);
      }

      .image {
        width: 100%;
        height: 240px;
        border: none;
        background-position: center;
        background-size: cover;
      }

      h1 {
        font-size: 2.4em;
        padding: 24px 24px 0;
      }

      p {
        padding: 0 24px 0.4em;
      }

      h5 {
        padding: 0 24px;
      }
    }
  }
}

@media only screen and (min-width: $md) {
  .blog-content {
    .blog-list-item-holder {
      width: 50%;
    }
  }
}

@media only screen and (min-width: $xl) {
  .blog-content {
    .blog-list-item-holder {
      width: 33.333333%;
    }
  }
}