@use 'theme/variables' as *;

.footer {
  width: 100%;
  padding: 16px 0;
  background: $background_black_a90;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  .textHolder {
    text-align: center;
    opacity: 0.3;
    transition: 0.2s;

    p {
      padding: 0;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

@media only screen and (min-width: $lg) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
