
$backgroundDark: #112a32;
$backgroundDarkOpaque: #112a32dd;
$backgroundDark2: #113f54;
$backgroundLight: #157270;
$backgroundLightOpaque: #15727088;
$backgroundLightHover: #159997;
$accentYellow: #e4f03c;
$accentYellowHover: #e8f352;
$accentCyan: #1fcfcc;
$accentCyanHover: #1cbebc;
$white: #fff;
$offWhite: #eaf4f4;
$black: #1c1c1c;
$blackOpaque: #1c1c1c44;

$ubuntu: "Ubuntu", sans-serif;

$polygon: polygon(
  0 0,
  calc(100% - 20px) 0,
  100% 20px,
  100% 100%,
  20px 100%,
  0 calc(100% - 20px)
);

$polygonSmall: polygon(
  0 0,
  calc(100% - 10px) 0,
  100% 10px,
  100% 100%,
  10px 100%,
  0 calc(100% - 10px)
);

// $animationFast: 0.2s;
// $animationMed: 0.6s;
// $animationSlow: 1.8s;


$md: 576px;
$lg: 768px;
$xl: 960px;