
@import '../../../elements/variables';

// @keyframes frame-reveal {

// }

.personal-photo {
  width: 84%;
  position: absolute;
  height: 372px;
  left: 8%;
  top: -32px;
  box-shadow: 4px -4px #0002;
  overflow: hidden;

  .photo-frame-holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;
    background: $backgroundLightOpaque;
    -webkit-transition: 0.8s;
    transition: 0.8s;

    &.reveal {
      width: 80%;
      height: 80%;
      background: #fff0;
    }
  }
}

// md
@media only screen and (min-width: $md) {
  .personal-photo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: top center;
    box-shadow: inset 0 0 100px #0008;

    .image {
      filter: grayscale(1);
      height: 100%;
      opacity: 0.6;

      img {
        object-position: top center !important;
      }
    }
  }
}
