@import "src/theme/variables";

.blog-header {
  justify-content: center;
  font-size: 1.4em;
}

.header-image {
  position: fixed;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 100px #0008, -2px -2px 8px #0004;
  z-index: -1;
}

.blog-container {
  position: absolute;
  margin: 400px 0;
  width: 100%;
  // min-height: 100%;
  border-top: 1px solid $backgroundLightOpaque2;
  pointer-events: none;

  &.container-no-image {
    margin: 0;
  }

  .blog-container-back {
    margin: 0 auto 100px;
    width: 100%;
    background: $backgroundDark;
    pointer-events: all;

    .blog-content {
      margin: 0 auto;
      width: 100%;
      max-width: 780px;
      padding: 48px 12px;

      .blog-list-item-holder {
        padding: 0.5em 1em;

        .blog-list-item {
          background: $backgroundLightOpaque;
          clip-path: $polygon;
          padding-bottom: 24px;
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.02) translateY(-5px);
          }

          .image {
            width: 100%;
            height: 240px;
            border: none;
            background-position: center;
            background-size: cover;
          }

          h1 {
            font-size: 2.4em;
            padding: 24px 24px 0;
          }

          p {
            padding: 0 24px 0.4em;
          }

          h5 {
            padding: 0 24px;
          }

        }
      }

      // iframe {
      //   margin: 1em 0 1em 50%;
      //   transform: translateX(-50%);
      //   border: 1px solid $accentCyan;
      // }

      img {
        max-width: 100%;
        max-height: 400px;
        border: 1px solid $accentCyan;
        margin-left: 50%;
        transform: translateX(-50%);
        color: $accentCyan;
        text-align: center;
      }
    }
  }
}

.blog-footer {
  position: fixed;
  z-index: -1;
  width: 100%;
  background: $backgroundDark3Transparent;
  height: 100px;
  bottom: 0;
}