@use 'theme/variables' as *;

.dropdown {
  border-bottom: 1px solid $display_cyan_a20;

  &:last-child {
    border-bottom: none;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 14px 4px;
  cursor: pointer;
  color: $display_white;
  font-family: $ubuntu;
  font-size: 15px;

  &:hover,
  &:focus {
    color: $display_cyan;
    outline: none;
  }
}

.icon {
  flex: none;
  display: flex;
  width: 16px;
  height: 16px;
  color: $display_yellow;
}

.body {
  padding: 0 4px 16px;
  color: $display_white_a50;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}
