@use 'theme/variables' as *;

.slideProjects {
  z-index: 31;
  position: relative;
  overflow: hidden;
  border-top: 1px solid $background_teal;
  border-bottom: 1px solid $background_teal;

  .ruler {
    position: relative;
    z-index: 1;
    min-width: 580px;
    width: 96%;
    left: 50%;
    transform: translate(-50%);
    margin: 26px 0 26px;
  }

  .slideBody {
    position: relative;
    z-index: 1;
    padding: 4px 8px 36px;

    .featuredBody {
      display: flex;
      flex-wrap: wrap;
    }

    .allBody {
      display: flex;
      flex-wrap: wrap;
      padding: 12px;
    }

    .buttonHolder {
      width: 280px;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: $lg) {
  .slideProjects {
    padding: 0 4px;

    .slideBody {
      max-width: 840px;
      margin: 0 auto;

      .featuredBody {
        margin: 0 auto 24px;
      }

      .allBody {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 24px;
        width: 88%;
      }
    }
  }
}
