@use 'theme/variables' as *;

.slide-projects {
  z-index: 31;
  position: relative;
  overflow: hidden;
  border-top: 1px solid $backgroundLightTransparent;
  border-bottom: 1px solid $backgroundLightTransparent;

  .ruler {
    position: relative;
    z-index: 1;
    min-width: 580px;
    width: 96%;
    left: 50%;
    transform: translate(-50%);
    margin: 26px 0 26px;
  }

  .slide-body {
    position: relative;
    z-index: 1;
    padding: 4px 8px 36px;

    .featured-body {
      display: flex;
      flex-wrap: wrap;
    }

    .all-body {
      display: flex;
      flex-wrap: wrap;
      padding: 12px;
    }

    .button-holder {
      width: 280px;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: $lg) {
  .slide-projects {
    padding: 0 4px;

    .slide-body {
      max-width: 840px;
      margin: 0 auto;

      .featured-body {
        margin: 0 auto 24px;
      }

      .all-body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 24px;
        width: 88%;
      }
    }
  }
}
